/* fonts setup */
@font-face {
  font-family: 'GeneralSans';
  font-weight: 300;
  src: url('./assests/fonts/GeneralSans-Light.woff2') format('woff2'), url('./assests/fonts/GeneralSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'GeneralSans';
  font-weight: 400;
  src: url('./assests/fonts/GeneralSans-Regular.woff2') format('woff2'), url('./assests/fonts/GeneralSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GeneralSans';
  font-weight: 500;
  src: url('./assests/fonts/GeneralSans-Medium.woff2') format('woff2'), url('./assests/fonts/GeneralSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'GeneralSans';
  font-weight: 600;
  src: url('./assests/fonts/GeneralSans-Semibold.woff2') format('woff2'), url('./assests/fonts/GeneralSans-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'GeneralSans';
  font-weight: 700;
  src: url('./assests/fonts/GeneralSans-Bold.woff2') format('woff2'), url('./assests/fonts/GeneralSans-Bold.woff') format('woff');
}



/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: 'GeneralSans', system-ui;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* tailwind setup */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* root vars */
:root {
  --color-100: #8C8C73;
  --color-200: #AEAE9D;
  --color-300: #0E0E0C;
  --color-400: #E8E8E3;
  --color-500: rgb(232, 232, 227, 0.2);
}

/* styling starts from here */

.c-100 {
  color: var(--color-100);
}

.c-200 {
  color: var(--color-200);
}

.c-300 {
  color: var(--color-300);
}

.c-400 {
  color: var(--color-400);
}

.c-500 {
  color: var(--color-500);
}

.b-100 {
  background-color: var(--color-300);
}

.b-200 {
  background-color: var(--color-400);
}

.line-h-ex {
  line-height: 12vh;
}

.line-h-ex2 {
  line-height: 10vh;
}

.nav {
  width: 100%;
}

.landing {
  width: 100%;
}

.box {
  width: 60em;
}

.bounce-ball {
  font-size: 25px;
  border-radius: 50%;
}

.xyz {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.project-img {
  width: 400px;
  aspect-ratio: 9/16;
  background-image: url(./assests/images/codefe-4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.project-main-img {
  width: 600px;
}

.textarea,
.email-username,
.email-useremail {
  background: none;
  outline: none;
  border: 1px solid var(--color-200);
  padding: 5px;
  color: var(--color-400);
}

.textarea {
  width: 500px;
  height: 100px;
}

.email-username,
.email-useremail {
  width: 240px;
}

.email-useremail {
  margin: 16px;
}

.btn {
  width: 496px;
  height: 40px;
  border: 1px solid var(--color-200);
}

.textarea,
.email-username,
.email-useremail,
.btn {
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--color-200);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-100);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-300);
  background: var(--color-400);
}

::selection {
  color: var(--color-300);
  background: var(--color-400);
}